appimagelauncher.cfg
archlinux-tweak-tool
arkrc
audacity
auroraerc
autostart
baloofileinformationrc
baloofilerc
Blackmagic Design
blender
bluedevilglobalrc
BraveSoftware
btop
cef_user_data
chromium
citra-emu
Code - OSS
dconf
discord
Discord
discoverrc
dolphinrc
drkonqirc
easyeffects
Electron
emaildefaults
enchant
epiphany
evolution
expressvpn
filetypesrc
fontconfig
ghostty
GIMP
glib-2.0
gnome-session
go
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
HKModInstaller
htop
hypr
ibus
inkscape
jgit
kactivitymanagerdrc
kactivitymanagerd-statsrc
kate
kate-externaltoolspluginrc
katerc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kded5rc
kded6rc
kdedefaults
kdeglobals
kde.org
keepassxc
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
kiorc
Kitware
klaunchrc
kmenueditrc
kritadisplayrc
kritarc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kwriterc
kxkbrc
libaccounts-glib
libreoffice
menus
mimeapps.list
modcheck.json
monitors.xml
mpv
nautilus
neofetch
nestopia
obsidian
obsrc
obs-studio
obs-studio.bak
Olympus
onedrive
onedrive-gui
PlasmaDiscoverUpdates
plasma.emojierrc
plasma-localerc
plasma-nm
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmarc
plasmashellrc
plasma-welcomerc
plasma-workspace
powerdevilrc
powermanagementprofilesrc
pulse
QDirStat
QtProject.conf
qtvirtualkeyboard
r2modman
r2modmanPlus-local
retroarch
session
signond
simple-update-notifier
spectaclerc
spotify
StardewValley
suyu
systemd
systemmonitorrc
systemsettingsrc
totem
touchpadxlibinputrc
trashrc
Trolltech.conf
unity3d
'Unknown Organization'
user-dirs.dirs
user-dirs.locale
vesktop
vlc
waybar
Xavion
xdg-desktop-portal-kderc
xsettingsd
yay
zoom.conf
zoomus.conf
.gsd-keyboard.settings-ported
konsolerc
konsolesshconfig
org.encroissant.app
